*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards img{
    width: 400px;
    max-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}